@model IEnumerable<Cart>
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Checkout</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/cart/checkout">Checkout</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Checkout Area =================-->
<section class="checkout_area section_gap">
    <div class="container">
        <div class="billing_details">
            <div class="row">
                <div asp-validation-summary="All"></div>
                <form method="post">
                    <div class="row">
                        <div class="col-lg-8">
                            <h3>Billing Details</h3>
                            <div class="row contact_form">
                                <div class="col-md-6 form-group p_star">
                                    <input type="text" class="form-control" id="first" name="firstName" placeholder="First Name">
                                </div>
                                <div class="col-md-6 form-group p_star">
                                    <input type="text" class="form-control" id="last" name="lastName" placeholder="Last Name">
                                </div>
                                <div class="col-md-6 form-group p_star">
                                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number">
                                </div>
                                <div class="col-md-6 form-group p_star">
                                    <input type="text" class="form-control" id="email" name="email" placeholder="Email Address">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="address" name="address" placeholder="Your Address">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="city" name="city" placeholder="City">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="country" name="country" placeholder="Country">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="state" name="state" placeholder="State">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="postcode" name="postcode" placeholder="Post code / ZIP">
                                </div>
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" name="note" id="message" rows="1"
                                        placeholder="Order Notes"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="order_box">
                                <h2>Your Order</h2>
                                <ul class="list">
                                    <li><a href="#">Product <span>Total</span></a></li>
                                    @foreach (var item in Model)
                                    {
                                        <li><a href="#">@item.Name x @item.Quantity <span class="last">$@(item.Price *
                                                item.Quantity)</span></a></li>
                                    }
                                </ul>
                                <ul class="list list_2">
                                    <li><a href="#">Subtotal <span>$@Model.Sum(p => p.Price * p.Quantity)</span></a>
                                    </li>
                                    <li><a href="#">Total <span>$@Model.Sum(p => p.Price * p.Quantity)</span></a></li>
                                </ul>
                                <div class="payment_item">
                                    <div class="radion_btn">
                                        <input type="radio" id="f-option5" name="selector">
                                        <label for="f-option5">Banking </label>
                                        <img src="/img/product/card.jpg" alt="">
                                        <div class="check"></div>
                                    </div>
                                </div>
                                <div class="payment_item">
                                    <div class="radion_btn">
                                        <input type="radio" id="f-option6" name="selector">
                                        <label for="f-option6">Paypal </label>
                                        <img src="/img/product/card.jpg" alt="">
                                        <div class="check"></div>
                                    </div>
                                </div>
                                <button type="submit" class="primary-btn border-0 w-100">PLACE ORDER</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--================End Checkout Area =================-->