<div class="d-flex justify-content-center align-items-center" style="height: 600px;">
    <div class="">
        <div>
            <span class="text-success" style="font-size: 50px; font-weight: bold;">THANH TOÁN THÀNH CÔNG</span>
        </div>
        <a href="/" class="w-100 mt-3 btn btn-outline-warning text-warning" style="font-size: 25px; padding: 12px 0px 12px 0px; font-weight: 600;">Quay lại trang chủ</a>
    </div>
</div>